.body-background-colour {
  background-color: #ece4d4;
}

.banner-font {
  font-size: 1.2em;
  line-height: 9px;
  font-family: "Georgia", serif;
  color: #f6f6f6;
}

.responsive-banner-font {
  font-size: 5vw;
  line-height: 9px;
  font-family: "Georgia", serif;
  color: #f6f6f6;
}
.header-background-image {
  background-image: url("https://raw.githubusercontent.com/Chameleon-Innovations/public-content/main/wanderlust/Assets/Images/wanderlust-header-no-text.png");
  background-color: #ece4d4;
  height: 120px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.footer-background-image {
  background-image: url("https://github.com/Chameleon-Innovations/public-content/raw/main/wanderlust/Assets/Images/logo-1.png");
  background-color: #ece4d4;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
